/* Set global variables for color scheme and header fonts */
:root {
    --banner-header-color: rgb(49 52 61);
    --banner-inset-color: rgb(145 203 205);
    --title-color: rgb(42 52 76);
    --h1: 30px;
    --h2: 28px;
    --h3: 18px;
}

/* Disallows user from selecting text */
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                        supported by Chrome, Edge, Opera and Firefox */
  }

/* Reset CSS and set main body formatting*/
html {
    min-width: 325px;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(13, 161, 206);
}

body {
    background-color: rgb(238 238 246);
    color: rgb(42 52 76);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

/* Create a header with left justified title and a formatted ul nav-menu */
header {
    width: 100%;
    height: 80px;
    background-color: var(--banner-header-color);
    position: sticky;
    top: 0;
    z-index: 2;
}

.header-title {
    width: 300px;
    height: 40px;
    background-color: var(--banner-inset-color);
    color: var(--title-color);
    display: inline;
    float: left;
    margin-top: 15px;
    padding: 3px 0px 0px 20px;
    font-size: var(--h1);
}

.site-nav-menu {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: end;
    list-style-type: none;
    margin-right: 20px;
}

.site-nav-link {
    width: fit-content;
    margin-right: 10px;
    height: 25px;
    border-bottom: 3px solid var(--banner-inset-color);
    text-align: center;
    margin-top: 35px;
    padding: 0 10px;
    position: relative;
    color: var(--banner-inset-color);
    white-space: nowrap;
    transition: margin-right .2s linear;
}

/* Hovering over the li items (buttons) in the site nave menu
turns text white and adds a white bottom border pseudo element */
.site-nav-link:hover,
.site-nav-link:active {
    color: white;
}

.site-nav-link:hover::after,
.site-nav-link:active::after
{
    width: 100%;
    content: " ";
    position: absolute;
    left: 0px;
    bottom: 0px;
    border: 1px solid white;
}

/* .site-nav-item:active::after {
    border: 1px solid rgb(14, 0, 207);
} */

/* Hero banner CSS */
.hero {
    display: block;
    width: 100%;
    height: 200px;
    background-image: url(https://media.discordapp.net/attachments/989718721465569330/1053516551438999643/image.png?width=1149&height=525);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -80px;
    transition: background-position-y .5s ease-out;
    position: relative;
}

.hero-title {
    width: 300px;
    height: 40px;
    background-color: var(--banner-inset-color);
    position: absolute;
    bottom: 30px;
    right: 30px;
    padding-top: 10px;
    font-weight: bolder;
    text-align: center;
    box-shadow: 0px 0px 15px 3px white;
}

/* Setting main to flex to create a column of section cards */
main {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

/* Sets the margin for when scrolling to a section of text */
#about-me, #work, #contact-me {
    scroll-margin-top: 100px;
}

/* Section cards are composed of two sections - title (30% width) and content (70% width)
Flex direction changed to column for @media queries < 480 pixels */
.section-card {
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 30px;
}

.section-title {
    min-height: fit-content;
    width: 20%;
    min-width: 200px;
    border-right: 3px solid var(--title-color);
    text-align: right;
    padding-right: 10px;
    font-size: var(--h2);
    font-weight: bold;
}

/* Hidden alternate section card titles that will display inline for @media
queries <= 480 pixels */
.p-text {
    display: none;
}

.section-content{
    width: 70%;
    height: fit-content;
    padding: 20px 20px;
}

#work-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#work-cards * {
    border: 1px solid red;
}

#gallery-wrapper {
    width: 80%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#gallery-content {
    height: 80%;
    width: 80%;
    position: relative;
}

.gallery-button {
    width: 50px;
    height: 75px;
    position: absolute;
    top: calc(50% - 37px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: purple;
}

#left-button {
    left: 0;
    display: none;
}

#card-track {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#card-track div {
    width: 400px;
    height: 200px;
}

#right-button {
    right: 0;
}

#gallery-map {
    width: 80%;
    height: 50px;
}

.work-card {
    border: 4px solid var(--banner-inset-color);
    border-radius: 2px;
    position: relative;
    overflow: hidden;
}

.work-card-title {
    position: absolute;
    left: 0;
    bottom: 10px;
    width: fit-content;
    height: fit-content;
    background-color: var(--banner-inset-color);
    color: white;
    padding: 0px 5px 3px 10px;
    text-shadow: 2px 1px 3px black;
}

/* Default to 90% opacity for hazy appearance, 100% opacity when active or hovered */
.work-card-img {
    width: 100%;
    height: 100%;
    opacity: .8;
    transition: opacity .5s cubic-bezier(0.34, 1.56, 0.64, 1), transform 4s ease-in, background-position-y .3s ease-out;
    background-size: cover;
    background-repeat: no-repeat;
}

/* #test {
    opacity: .8;
}

#test:hover,
#test:active {
    opacity: 1;
} */

.work-card:hover .work-card-img,
.work-card:active .work-card-img {
    opacity: 1;
    transform: translateY(-30px);
    transform: scale(1.4);
}

.work-card h3 {
    font-size: var(--h3);
}

.work-card p {
    font-size: 12px;
    font-style: italic;;
}

.open-in-new-icon {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: teal;
    transition: all .2s ease-in-out;
    border-radius: 3px;
    box-shadow: 2px 2px 5px 0px rgba(255, 255, 255, 1);
}

.open-in-new-icon:hover,
.open-in-new-icon:active {
    transform: scale(1.2);
    box-shadow: 1px 1px 8px 0px rgba(255, 255, 255, .6);
}

#work-card-img-1 {
    background-image: url("https://cdn.discordapp.com/attachments/989718721465569330/1047521105507795024/Dienasty_an_isometric_view_from_behind_of_a_corporate_worker_wo_cce2727c-1d5d-44b5-9b27-a3e030434cd1.png");
    background-position-y: -200px;
}

#work-card-img-2 {
    background-image: url("https://media.discordapp.net/attachments/1012758410393034939/1053973232602058832/image.png");
}
#work-card-img-3 {
    background-image: url("https://media.discordapp.net/attachments/1012758410393034939/1053976513994838016/image.png");
    background-position-y: -55px;
}
#work-card-img-4 {
    background-image: url("https://cdn.midjourney.com/f7859bf5-4668-4bba-b31f-8c36b7cdb5be/grid_0.png");
    background-position-y: -125px;
}
#work-card-img-5 {
    background-image: url("https://cdn.midjourney.com/37887663-92e3-40e0-804b-2170e397c6f1/grid_0.png");
    background-position-y: -45px;
}

/* Work card grid area assignments and project card styling*/
#work-card-1 {
    width: 100%;
    grid-area: work-card-1;
}

#work-card-2 {
    width: 100%;
    grid-area: work-card-2;
}

#work-card-3 {
    width: 100%;
    grid-area: work-card-3;
}

#work-card-4 {
    width: 100%;
    grid-area: work-card-4;
}

#work-card-5 {
    width: 100%;
    grid-area: work-card-5;
}

/* Contact item grid area assignments */
#contact-item-1 {
    grid-area: contact-item-1;
}

#contact-item-2 {
    grid-area: contact-item-2;
}

#contact-item-3 {
    grid-area: contact-item-3;
}

#contact-item-4 {
    grid-area: contact-item-4;
}

.contacts{
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-evenly;
    align-items: end;
    text-align: center;
}

.contacts a:hover {
    font-weight: bold;
}

.contact-item {
    width: 120px;
    height: 120px;
    border-radius: 15px 0px 15px 0px;
    border: 2px solid var(--banner-header-color);
    position: relative;
    overflow: hidden;
    position: relative;
}

.contact-item > img {
    transition: transform 0.6s cubic-bezier(0.87, 0, 0.13, 1);
    position: absolute;
    z-index: 2;
}

.contact-item:hover > img,
.contact-item:active > img{
    transform: translateY(-120px);
}

.info {
    width: 120px;
    height: 120px;
    border-radius: 15px 2px 15px 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 8px #31343d;
}

#nested-github-logo {
    height: 25px;
    width: 25px;
    position: absolute;
    bottom: 3px;
    right: 3px;
}

#nested-linkedin-logo {
    height: 25px;
    width: 25px;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

#thanks {
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    list-style-type: none;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.thanks-item {
    padding: 20px;
    margin: 0px 10px;
}

.thanks-item > p {
    margin-bottom: 4px;
}

.thanks-item h3 {
    font-size: var(--h3);
    margin-bottom: 8px;
    font-weight: bold;
}

/* Footer CSS */
footer {
    position: relative;
}

.profile-shadow {
    position: fixed;
    left: 50px;
    bottom: 75px;
    animation: profile-shadow 3s infinite;
}

.profile-pic {
    position: fixed;
    left: 25px;
    bottom: 25px;
    width: 100px;
    height: 100px;
    /* border: 1px solid var(--banner-header-color); */
    border-radius: 50%;
    z-index: 2;
    background-image: url("../images/profile-pic.jpg");
    background-size: contain;
    animation: bounce-animation 3s infinite;
    transition: width .2s ease-in, height .2s ease-in;
}

/* CSS for huge screens */
@media screen and (max-width: 1200px) {
    #work-card-img-1 {
        background-position-y: 0px;
    }

    #work-card-img-3 {
        background-position-y: 0px;
    }
    
    #work-card-img-4 {
        background-position-y: -35px;
    }
}

/* CSS for 481 =< 768 pixels
Center header subtitle and site nav menu
Center and reposition hero subtitle
Change display property of work-card container to flex and direction to column
Create 2x2 grid layout for contact information */
@media screen and (max-width: 768px) {
    .header-title {
        display: block;
        float: none;
        margin: 0 auto;
        padding: 0;
        text-align: center;
    }

    .hero {
        background-position-y: 0px
    }

    .site-nav-menu {
        width: auto;
        height: 40px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        list-style-type: none;
        margin: 0px;
    }

    .nav-menu-item {
        margin-right: 0px;
    }

    .site-nav-link {
        margin-top: 8px;
        margin-bottom: 0px;
    }

    .hero {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding-bottom: 5px;
    }

    .hero-title {
        position: static;
        padding-top: 10px;
        font-weight: bolder;
        text-align: center;
    }

    #work-cards {
        width: 70%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .work-card {
        height: 200px;
        min-width: 150px;
    }

    .contacts {
        display: grid;
        grid-template: 
                    "contact-item-1 contact-item-2" 120px
                    "contact-item-3 contact-item-4" 120px
                    ;
        row-gap: 20px;
    }

    #work-card-img-5 {
        background-position-y: 0;
    }

    .profile-pic {
        width: 50px;
        height: 50px;
        left: 25px;
        bottom: 25px;
    }

    #thanks{
        flex-direction: column;
    }
}

/* CSS for screens <= 480 pixels
Stacks all titles and content vertically */
@media screen and (max-width: 480px) {
    .section-card {
        height: fit-content;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }

    .section-title {
        min-height: fit-content;
        width: fit-content;
        min-width: 150px;
        border-right: none;
        border-bottom: 3px solid var(--title-color);
        padding: 0 15px;
        text-align: center;
        margin: 0 auto 10px auto;
        font-size: var(--h2);
        font-weight: bold;
    }
    
    .section-content{
        width: 100%;
        height: fit-content;
        padding: 0px 20px;
    }

    #work-cards {
        width: 100%;
    }

    .pre-text {
        display: none;
    }

    .p-text {
        display: block;
    }

}

@media screen and (max-width: 360px){
    .site-nav-link{
        margin-right: 0px;
    }
}

/* @keyframes bounce-animation {
    0% {
        bottom: 50px;
        box-shadow: 0px 5px 8px 5px black;
    }

    50% {
        bottom: 60px;
        box-shadow: 0px 5px 5px 2px rgb(184, 184, 184);
    }

    100% {
        bottom: 50px;
        box-shadow: 0px 5px 8px 5px black;
    }
} */

@keyframes bounce-animation {
    0% {
        transform: translatey(0);
        box-shadow: 0px 2px 8px 2px black;
    }

    50% {
        transform: translatey(-10px);
        box-shadow: 0px 2px 2px 2px rgb(184, 184, 184);
    }

    100% {
        transform: translatey(0);
        box-shadow: 0px 2px 8px 2px black;
    }
}